
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Dancing Script', cursive;
  color: white;
}

body{
  height: 99vh;
  background-image: linear-gradient(
      plum,
      purple
  );
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
::-webkit-scrollbar{
  display: none;
}
.flex{
  display: flex;
}
.grid{
  display: grid;
  align-items: center;
}
